<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">Home</a></li>
        <li><a href='@routes.Home.roles("Business analyst")'>About business analysis</a></li>
    </ol>
</div>
<div class="scannable-wrapper">
    <h1 class="heading-xlarge">
        About business analysis
    </h1>
    <p class="lede">
        Business analysts (BA's) help digital service teams understand the service needs of the business.
    </p>
    <p>
        They work with the business to capture and gather requirements.  Business requirements influence the features and design of the service.  They then reflect these back to the service team so that they understand what they need to build.
    </p>
    <p>
        Requirements can be 'functional'.  Functional requirements describe what a service needs to do for the user.  They describe how it needs to work and behave e.g. users are able to log-in securely; users can make a payment.  They can also be 'non-functional'.  These describe how a service needs to be.  For example, the service needs to be accessible 24/7; all data needs to be backed up daily.
    </p>
    <p>
        In digital terms requirements are 'user stories'.  A digital service has a 'product backlog'.  This contains all the user stories required to build a service.  The BA helps the product manager (see below) develop the user stories and refine the backlog.
    </p>
    <p>
        BA's also analyse the processes that underpin a service. This helps them understand how it currently works (the 'as is') and how it needs to work in the future ('to be').
    </p>
    <h2 class="heading-medium">More information</h2>
    <ul class="moreinfo">
        <li><a href="https://www.gov.uk/service-manual/the-team/recruitment/Businessanalyst-generic.odt">You can find out more about business analysts here.</a></li>
        <li><a href="https://www.gov.uk/service-manual/the-team/recruitment/ProductManager-generic.odt">You can find out more about product managers here.</a></li>
        <li><a href="mailto:paul.turner@@beis.gov.uk?subject=More%20information%20about%20business%20analysis">If you would like to speak to someone in BEIS digital to find out more about how to become a business analyst click here</a></li>
    </ul>
</div>