<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">Home</a></li>
        <li><a href='@routes.Home.roles("Content designer")'>About content design</a></li>
    </ol>
</div>
<div class="scannable-wrapper">
    <h1 class="heading-xlarge">
        About content design
    </h1>
    <p class="lede">
        Content designers make sure that the writing on a site or service meets the needs of the user (or customer) as clearly, simply and quickly as possible.
    </p>
    <p>
        They make complex language and processes easy to understand. They think about the whole interaction, not just the words. And they work very closely with designers to build services together.
    </p>
    <p>
        Content designers base their decisions on evidence and data, such as user research and site analytics. As with the other design roles, their output is tested with users, whose feedback helps them to improve the service further.
    </p>
    <h2 class="heading-medium">More information</h2>
    <ul class="moreinfo">
        <li><a href="https://www.gov.uk/service-manual/the-team/content-designer.html">You can learn more about content designers, as well as other digital team roles, on the Government Digital Service’s design manual.</a></li>
        <li><a href="mailto:paul.turner@@beis.gov.uk">You can also email someone in the BEIS digital content team to find out more about becoming a content designer.</a></li>
    </ul>
</div>


