<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">Home</a></li>
        <li><a href='@routes.Home.roles("Delivery manager")'>About delivery managers</a></li>
    </ol>
</div>
<div class="scannable-wrapper">
    <h1 class="heading-xlarge">
        About delivery managers
    </h1>
    <p class="lede">
        Delivery managers lead multi-disciplinary digital teams to deliver complex digital projects.
    </p>
    <p>
        They help the team by removing barriers that may be hindering progress.  They also lead on planning at both high and detailed levels, giving the team clarity on what needs to happen.
    </p>
    <p>
        They deliver using agile ways of working, organising the team to work in sprints focusing on building products quickly and iteratively.
    </p>
    <p>
        They work across the team, facilitating discussion so that everyone understands the product roadmap, the sprint goals and the standards to which products are built.  Facilitation is central to good delivery management, helping the team to self-organise and to learn from their experience.
    </p>
    <h2 class="heading-medium">More information</h2>
    <ul class="moreinfo">
        <li><a href="https://www.gov.uk/service-manual/the-team/delivery-manager.html">You can find out more about delivery managers here.</a></li>
        <li><a href="mailto:paul.turner@@beis.gov.uk?subject=More%20information%20about%20delivery%20management">If you would like to speak to someone in BEIS digital to find out more about how to become a delivery manager click here</a></li>
    </ul>
</div>