<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">Home</a></li>
        <li><a href='@routes.Home.roles("Designer")'>About design roles</a></li>
    </ol>
</div>
<div class="scannable-wrapper">
    <h1 class="heading-xlarge">
        About design roles
    </h1>
    <p class="lede">
        Digital teams depend on designers to help shape the look and feel of a service.
    </p>
    <p>
        They work with user researchers to understand how users interact with a service.  They take account of what motivates users to use a service and what their current experience is.  They look for what is causing users pain. Good service design provides a user experience(UX) that meets their needs and expectations.
    </p>
    <p>
        There are different design roles with a digital team.
    </p>
    <p>
        Service designers consider the entire end-to-end service.  From when a user starts their journey to when they complete it.
    </p>
    <p>
        They look for opportunities to create a simple but effective user journey.  Good service design will minimise the burden on the user.  It will provide a smooth and intuitive user experience that avoids confusion and frustration.
    </p>
    <p>
        They test their service design with real users to get feedback.  The feedback helps to iterate the service further, making it better each time.
    </p>
    <p>
        Interaction designers (also known as 'UX designers' or 'visual designers') help develop design concepts. i.e. pages/screens.
    </p>
    <p>
        These are shared with users to test and seek feedback on.  Their outputs are sometimes known as 'mock-ups' or 'wireframes'.  These enable users to test the look and feel of a service design before it coding by developers.  The feedback helps to iterate the design further.
    </p>
    <p>
        They work with front end developers to develop coded versions of the design.  These versions are further tested and will form part of the live service.
    </p>

    <h2 class="heading-medium">
        More information
    </h2>
    <ul class="moreinfo">
        <li><a href="https://www.gov.uk/service-manual/the-team/designer.html">You can find out more about designers here.</a></li>
        <li><a>Digital teams also have content designers and you can find out more here</a></li>
        <li><a href="mailto:%20paul.turner@@beis.gov.uk?subject=Information%20on%20how%20to%20become%20a%20digital%20designer%20in%20BEIS%20digital">If you would like to speak to someone in BEIS digital to find out more about how to become a service or interaction designer click here</a></li>
    </ul>
</div>


