<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">Home</a></li>
        <li><a href='@routes.Home.roles("User researcher")'>About user researchers</a></li>
    </ol>
</div>
<div class="scannable-wrapper">
    <h1 class="heading-xlarge">
        About user researchers
    </h1>
    <p class="lede">
        User researchers help ensure that digital services are build on solid user centred principles. 
    </p>
    <p>
        They work with users to understand what motivates them to use a service.   They develop insight into user frustrations and pain with existing services.  This helps  future designs to address them and make user experience better. 
    </p>
    <p>
        They help understand where users need support to complete their service journey ('assisted digital'). 
    </p>
    <p>
        They work with design colleagues to reflect the insight gained in the service design.  They then take those designs and share them with users. 
    </p>
    <p>
        They test designs with users and gathering their feedback. This helps to iterate the service, improving each time. 
    </p>
    <p>
        Throughout, user researchers help ensure services reflects user needs.
    </p>

    <h2 class="heading-medium">More information</h2>
    <ul class="moreinfo">
        <li><a href="https://www.gov.uk/service-manual/the-team/user-researcher.html">You can find out more about user researchers here.</a></li>
        <li><a href="mailto:%20paul.turner@@beis.gov.uk%3e?subject=More%20information%20about%20user%20research">If you would like to speak to someone in BEIS digital to find out more about how to become a user researcher click here</a></li>
    </ul>
</div>
